body {
	background-color: #fafafa;
}

div#main {
	min-height: 200vh;
}

form.buscador {
	float: left;
	padding-top: 19px;
}

input.buscador {
	text-align: center;
	border: none;
	background-color: white;
	font-size: 0.8em;
	height: 3.1em;
}

input.buscador:focus {
	outline: none;
}

.hueso-der {
	float: right;
}

.hueso-izq {
	float: left;
}

nav {
	background-color: #fcb44c;
}

.widget-header > a {
	color: rgba(255, 255, 255, 0.8);
}

.widget-header > a:hover {
	color: white;
}

.ico-nav {
	background-color: white;
	color: #777777;
}

.owl-carousel .owl-item img {
    height:auto;
    width:100%;
    display: block;
}

.owl-carousel .item {
    margin:0px;
}

.bloque {
	background-color: #efefef;
	padding: 20px 20px 0 20px;
    border: 1px solid #dfdfdf;
    border-radius: .25rem;
}

.bloque > .row {
	padding-top: 30px;
}

.menu-category .submenu {
	left: 92%;
	top: -36%;
}

.owl-prev {
    left: -16px;
}

.owl-next {
	right: -16px;
}

.acortar-texto {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}