@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500');

// Variable Overrides 

$primary: #fcb44c;

$white:    #fff !default;
$theme-colors: (
	"primary": #fcb44c
);
$font-family-sans-serif: "Montserrat", sans-serif;
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";