<div class="owl-carousel slider-main" data-items="1" data-dots="true" data-nav="true">
	<div class="item-slide">
		<img src="http://via.placeholder.com/1366x325">
	</div>
	<div class="item-slide">
		<img src="http://via.placeholder.com/1366x325">
	</div>
	<div class="item-slide">
		<img src="http://via.placeholder.com/1366x325">
	</div>
</div>

<div class="container-fluid"  style="max-width:1280px">
	<div class="row">
		<div class="col-md-3">
			<div class="bloque">
				<ul class="menu-category">
					<li> <a href="#">Food &amp Beverage </a></li>
					<li> <a href="#">Home Equipments </a></li>
					<li> <a href="#">Machinery Items </a></li>
					<li> <a href="#">Toys & Hobbies  </a></li>
					<li> <a href="#">Consumer Electronics  </a></li>
					<li> <a href="#">Beauty & Personal Care  </a></li>
					<li class="has-submenu"> <a href="#">More categories  <i class="fa fa-caret-right" aria-hidden="true"></i></a>
						<ul class="submenu">
							<div class="bloque">
								<li> <a href="#">Food &amp Beverage </a></li>
								<li> <a href="#">Home Equipments </a></li>
								<li> <a href="#">Machinery Items </a></li>
								<li> <a href="#">Toys & Hobbies  </a></li>
								<li> <a href="#">Consumer Electronics  </a></li>
								<li> <a href="#">Home & Garden  </a></li>
								<li> <a href="#">Beauty & Personal Care  </a></li>
							</div>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-9">
			<div class="bloque">
				<h4 class="title-text">Ofertas</h4>
				<div class="owl-carousel slide-items" data-items="3" data-margin="20" data-dots="false" data-nav="true">
					{{#ofertas}}
					<div class="item-slide">
						<figure class="card card-product">
							<div class="img-wrap"> 
								<a data-fancybox="gallery" href="images/items/3.jpg"><img src="images/items/3.jpg"></a>
								<a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i> Vista rápida</a>
							</div>
							<figcaption class="info-wrap">
								<h6 class="title text-dots acortar-texto"><a title="{{nombre}}" href="#">{{nombre}}</a></h6>
								<div class="action-wrap">
									<a href="#" class="btn btn-primary btn-sm float-right"> Comprar </a>
									<div class="price-wrap h5">
										<span class="price-new">{{precio}}</span>
										<del class="price-old">{{precio}}</del>
									</div>
								</div>
							</figcaption>
						</figure>
					</div>
					{{/ofertas}}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/inicio.js"></script>